.your-character-space {
  /*height: 120px;*/
}

h2{
  font-size: 30px;
}

.images {
  height: 150px;
}

.auth-image {
  height: 80px;
  /*border: solid black 2px;*/
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
p{
  text-align: center;
  border: solid black 2px;
}

.images {
  max-width: 150px;
}
